@import url("https://fonts.googleapis.com/css2?family=Fraunces:ital,opsz,wght@0,9..144,100..900;1,9..144,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
:root {
  --font-family: "Fraunces", sans-serif;
  --second-family: "Barlow", sans-serif;
  --third-family: "Fraunces", sans-serif;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: unset;
  display: inline-block;
}

button {
  cursor: pointer;
  border: none;
}

body {
  margin: 0;
  font-family: "Fraunces", serif;
  background: #fefcf7;
}

.container {
  max-width: 1320px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  padding-top: 35px;
  padding-bottom: 27px;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 33px;
}

.header__link {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 12px;
  line-height: 125%;
  letter-spacing: 0.08em;
  text-transform: uppercase;
  color: #616264;
}

.plan {
  background-image: url(../../images/Bitmap.jpg);
  width: 100%;
  height: 600px;
  background-size: cover;
  padding: 117px 702px 116px 85px;
  padding-bottom: 123px;
}

.plan__content {
  width: 493px;
  height: 255px;
  margin-bottom: 56px;
}

.plan__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 72px;
  line-height: 100%;
  color: #fefcf7;
  margin-bottom: 32px;
}

.plan__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  color: #fefcf7;
}

.plan__btn {
  padding: 15px 30px;
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 18px;
  line-height: 139%;
  text-align: center;
  color: #fefcf7;
  border-radius: 6px;
  background: #0e8784;
}

.collection__block {
  padding-top: 123px;
  position: relative;
  width: 1151px;
}

.collection {
  width: 100%;
  height: 524px;
  background-image: url(../../images/collection.png);
  background-size: contain;
  -o-object-fit: cover;
     object-fit: cover;
  background-repeat: no-repeat;
}

.collection__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  position: absolute;
  bottom: 35px;
}

.collection__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border: none;
}

.collection__img img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 60px;
}

.collection__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 133%;
  text-align: center;
  color: #333d4b;
  margin: 10px 0;
}

.collection__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #333d4b;
  color: #333;
}

.choose {
  width: 100%;
  height: 577px;
  background: #293039;
  margin-top: 200px;
  position: relative;
}

.choose__content {
  padding: 86px 370px 243px 370px;
}

.choose__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 40px;
  line-height: 120%;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 32px;
}

.choose__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 162%;
  text-align: center;
  color: #fefcf7;
}

.choose__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  gap: 30px;
  position: absolute;
  top: 400px;
  width: 1110px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
}

.choose__item {
  border-radius: 8px;
  background: #0e8784;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.choose__item img {
  padding: 56px 0;
}

.item__title {
  font-family: var(--font-family);
  font-weight: 900;
  font-size: 24px;
  line-height: 32px;
  text-align: center;
  color: #fefcf7;
  margin-bottom: 24px;
}

.item__text {
  font-family: var(--second-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  color: #fefcf7;
  padding: 0 47px;
}/*# sourceMappingURL=main.css.map */