.collection__block {
  padding-top: 123px;
  position: relative;
  width: 1151px;
}

.collection {
  width: 100%;
  height: 524px;
  background-image: url(../../images/collection.png);
  background-size: contain;
  object-fit: cover;
  background-repeat: no-repeat;
}

.collection__list {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  padding: 0;
  position: absolute;
  bottom: 35px;
}

.collection__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: none;
}

.collection__img img {
  width: 100%;
  max-width: 250px;
  height: auto;
  margin-bottom: 60px;
}

.collection__title {
    font-family: var(--font-family);
    font-weight: 900;
    font-size: 24px;
    line-height: 133%;
    text-align: center;
    color: #333d4b;
  margin: 10px 0;
}

.collection__text {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 16px;
    line-height: 162%;
    text-align: center;
    color: #333d4b;  color: #333;
}

